.vscode
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/*/*/*/*/*/__pycache__

*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc

tools/labels.json
tools/log.txt
demo/webcam.py
demo/prediction.jpg